
<div class="card" aria-label="Member Card">
  <div class="card-header" role="banner">
    Team Member
  </div>
  @let mem = member(); 
  <div class="card-content">
    <div class="name" (click)="onNameClick()">{{mem.name}} {{mem.surname}}</div>

    <div class="info-group">
      <div class="info-label">Role</div>
      <div class="info-value role manager">{{mem.role}}</div>
    </div>

    <div class="info-group">
      <div class="info-label">Department</div>
      <div class="info-value">{{mem.departement}}</div>
    </div>

    <div class="info-group">
      <div class="info-label">Level</div>
      <div class="info-value">{{mem.level | level }}</div>
    </div>
  </div>
</div>

